html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 20px; /* Margin bottom by footer height */
  font-family: 'Merriweather', serif;
  background-color: #eecda3;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px; /* Set the fixed height of the footer here */
  line-height: 20px; /* Vertically center the text there */
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-danger {
    background-color: #c62828;
}

.btn-danger:hover {
    background-color: #b71c1c;
}